
.follow-us{
  position:fixed;
  background: $white;
  opacity:0;
  left:50%;
  top:49%;
  width:94%;
  height:auto;
  transform:translate(-50%,-50%);
  z-index:101;
  transition: opacity 0.3s linear;
  display:none;
  overflow:auto;
  border-radius:5px;
}

.follow-us--visible{
  opacity:1;
}

.follow-us__inner{
  margin:30px;
}

.follow-us__inner h3{
  line-height:1.2em;
  font-size:1.6rem;
  margin-bottom:1em
}

.follow-us__inner h3 span{
  display:block;
}

.follow-us__subscribe p{
  line-height:1.2em;
}

.follow-us label{
  display:none;
}

.follow-us form{
  margin-bottom:1em;
}

.follow-us .form-item{
  margin-top:0;
}


.follow-us__subscribe__form{
  text-align:center;
}

#mailchimp-signup-subscribe-block-avisos-de-actividades-form{
  display:block;
  margin:0 auto;
  width:auto;
}



.mailchimp-newsletter-mergefields{
  width: calc(100% - 100px);
  margin-right:10px;
  max-width:350px;
  display:inline-block;
}

.follow-us input[type=email]{
  padding: 12px 10px;
  font-size:1rem;
  line-height:1em;
  vertical-align: middle;
  border:1px solid #CCC;
  width:100%;
  box-sizing: border-box;
}

.follow-us input[type=submit]{
  font-size:1rem;
  line-height:1em;
  padding: 14px;
  margin:0;
}

.follow-us__close{
  position:absolute;
  right:15px;
  top:7px;
  font-size:1.6rem;
}



.follow-us__close a{
  color:$dark-gray;
}


.follow-us__social.row{
  max-width:230px;
  margin:0 auto;
  text-align:center;
}

.follow-us__social .column{
  text-align:center;
}

.follow-us__social__link{
  width:48px;
  height:48px;
  background:$dark-gray;
  position:relative;
  display:block;
  margin:0 auto;
}

.follow-us__social .fa{
  font-size:2.4rem;
  color:$white;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}

.follow-us__social .fa-facebook{
  top:53%;
}

.follow-us__social .fa-twitter{

}

.follow-us__no-thanks{
  text-align:center;
  margin-top:1.5em;
  margin-bottom:0;
}

.follow-us__no-thanks a{
  margin-bottom:0;
}

@include breakpoint(medium) {
  .follow-us {
    left: 50%;
    max-width: 730px;
    top: 45%;
    height: auto;
    transform:translate(-50%,-50%);
    border-radius:7px;
  }

  .follow-us__inner{
    margin:40px;
  }

  .follow-us__inner h3{
    margin-bottom:0.5em;
  }

  .follow-us__inner h3 span{
    display:inline-block;
  }

  .follow-us__subscribe p{
    line-height: 1.5em;
  }

  .follow-us__email{
    font-size:1.2rem;
  }

  .follow-us__button.button{
    font-size:1.2rem;
  }

  .follow-us__social.row{
    margin-bottom:1em;
  }

  .follow-us__no-thanks{
    position:absolute;
    bottom:0;
    right:0;
  }

  .follow-us__bottom{
    position:relative;
  }

  .follow-us__subscribe__form{
    margin-top:1.5em;
    margin-bottom:1em;
  }

}
