

.footer{
  height:200px;
  border-top:3px $primary-color solid;
  box-shadow: 0px -2px 8px 0px rgba(0,0,0,0.3);
  background:hsla(200,44%,95%,1);
}

.footer{
  padding:40px 0 10px;
}

.footer p{
  margin:0.5em 0;
}

.footer h3{
  color:#456;
}

.footer a{
  color:$anchor-color-hover;
}

.footer a:hover{
  color:$primary-color;
}

.footer .column,.footer .columns{
  text-align:center;
}

@include breakpoint(medium) {
  .footer{
    background:hsla(200,44%,95%,1) url(/themes/custom/ateneo/images/logo_azul.png) no-repeat right -200px top -150px;
    background-size: 500px;
  }

  .footer .column,.footer .columns{
    text-align:left;
  }

}

@include breakpoint(large) {
  .footer{
    background-position: right -130px top -150px
    /* background-position: right -150px top -170px;
     background-size: 600px;*/
  }

}
