@import 'settings';
@import 'foundation';

@include foundation-grid;
@include foundation-visibility-classes;
@include foundation-button;
@include foundation-typography;

@import 'header';
@import 'banner';
@import 'people';
@import 'where-when';
@import 'help-sharing';
@import 'extra-links';
@import 'slide-menu';
@import 'follow-us';
@import 'footer';

body{
  font-family: $body-font-family;
  line-height:$global-lineheight;
  font-size: $global-font-size;
/*  background: #CCC;*/
}

body.no-scroll{
  overflow: hidden;
  position: fixed;
  width:100%;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Hind', sans-serif;
}



.button{
  border-radius: 5px;
}

.button--small{
  padding: 11px;
}

.button.secondary{
  color:$darker-gray;
}

.button .fa{
  margin-right:5px;
}

.messages{
  background-image:none!important;
}

.column{
  box-sizing: border-box;
}

.content__intro{
  padding:40px 0 20px;
  position:relative;
}


#main-content__text{
  padding-bottom: 3.5em;
}


h1.page-title,h2.page-title{
  margin-top:1em;
}

main{
  padding-bottom:2em;
}

.bg-grey{
  padding:2em 0 3em;
  background:#F5F5F5;
}

.more-activities{
  text-align:center;
}

.cookies{
  position:fixed;
  bottom:0;
  left:0;
  padding: 8px 30px 8px 8px;
  background:#000;
  color:#FFF;
  font-size:0.8rem;
  line-height:1.3em;
  opacity:0.95;
  display:none;
}

.cookies .fa{
  position:absolute;
  right:10px;
  top:10px;
  color: $primary-color;
  font-size:1.2rem;
}

@include breakpoint(medium) {
  .button{
    font-size:1rem;
  }

  .page-title{
    margin-bottom:1em;
    font-size:2.5rem;
  }

  .cookies{
    padding-right:40px;
    font-size:1rem;
    left:20px;
    bottom:20px;
    max-width:300px;
  }
}



.page-node-type-actividad main, .path-frontpage main{
  padding-bottom:0;
}

.page-node-type-actividad .page-title{
  margin-bottom:1em;
}

.view-actividades .view-header{
  margin-bottom:1.5em;
}


.actividad{
  overflow:hidden;
  max-width:400px;
  margin:0 auto 2.5em;
  float:none;
}

.actividad h3{
  margin:0.5em 0 0.2em;
  line-height:1.2em;
  font-family: Georgia,serif;
}

.actividad img{
  width:100%;
  height:auto;
}
@include breakpoint(medium) {
  .actividad{
    float:left;
  }

  .view-actividades .views-row:nth-child(2n+1){
    clear:left;
  }
}

@include breakpoint(large) {
  .view-actividades .views-row:nth-child(2n+1){
    clear:none;
  }
  .view-actividades .views-row:nth-child(3n+1){
    clear:left;
  }
}
